asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
coverage==7.4.4
cryptography==42.0.5
cytoolz==0.12.3
Django==5.0.3
django-cors-headers==4.3.1
django-filter==24.1
django-rest-framework==0.1.0
djangorestframework==3.15.0
djangorestframework-simplejwt==5.3.1
docutils==0.20.1
drf-yasg==1.21.7
ecdsa==0.16.1
eth-abi==2.1.1
eth-hash==0.5.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-typing==2.3.0
eth-utils==1.9.5
idna==3.6
importlib_metadata==7.0.2
inflection==0.5.1
iniconfig==2.0.0
jaraco.classes==3.3.1
jeepney==0.8.0
keyring==24.3.1
markdown-it-py==3.0.0
mdurl==0.1.2
mnemonic==0.19
more-itertools==10.2.0
nh3==0.2.15
packaging==24.0
parsimonious==0.8.1
pillow==10.2.0
pkginfo==1.10.0
pluggy==1.4.0
pycparser==2.21
pycryptodome==3.20.0
Pygments==2.17.2
PyJWT==2.8.0
pypng==0.20220715.0
pytest==8.1.1
pytest-cov==4.1.0
pytz==2024.1
PyYAML==6.0.1
qrcode==7.4.2
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
retro-bip-utils==1.0.5
rfc3986==2.0.0
rich==13.7.1
rlp==1.2.0
SecretStorage==3.3.3
six==1.16.0
sqlparse==0.4.4
thor-devkit==1.0.14
toolz==0.12.1
twine==5.0.0
typing_extensions==4.10.0
uritemplate==4.1.1
urllib3==2.2.1
voluptuous==0.12.0
zipp==3.18.1
